/*
 * This layout is heavily inspired by
 * http://tom.preston-werner.com/
 * (inspired as in copied and modified)
 * and copied again from http://bestform.github.com :-]
 */

 @font-face {
     font-family: 'WebSymbolsRegular';
     src: url('websymbols-regular-webfont.eot');
     src: url('websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('websymbols-regular-webfont.woff') format('woff'),
          url('websymbols-regular-webfont.ttf') format('truetype'),
          url('websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
     font-weight: normal;
     font-style: normal;

 }

.symbol {
  font-family: 'WebSymbolsRegular'; 
  font-size: 24px;
}

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #cecece;
  font: 13.34px helvetica, arial, clean, sans-serif;
  font-size: 14px;
  text-align: center;
}

h1 {
  font-size: 230%;
  margin-bottom: -0.3em;
}

h2, h3, h4, h5, h6 {
  font-size: 150%;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #681;
  text-decoration:none;
}

a:hover {
  color: black;
}

a:visited {
  color: #681;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

body {
  /* background-image: url(../img/handmadepaper.png); */
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}
ul.posts span {
  color: #aaa;
    font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
    font-weight: bold;
    margin-bottom: 1.5em;
    font-size: 370%;
}

  .site .title a {
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
  }

  .site .footer {
    font-size: 80%;
    border-top: 4px solid #4e4e4e;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: black;
      }

.site .footer .contact a:hover {
  text-decoration: underline;
}

    .site .footer .follow {
      margin-top: 1.1em;
      float: right;
    }

      .site .footer .follow img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {
    margin-bottom: 2em;
    /*border-bottom: 1px solid #CCC;*/
}

  /* standard */

  .post pre {
    border: 1px solid #DDD;
    background-color: #F4F4F4;
    padding: .4em .4em;
  }

  .post ul,
  .post ol {
    margin-left: 1.35em;
  }

/*
  .post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    .post pre code {
      border: none;
    }
*/
  /* terminal */

  .post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  .post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }





#disqus_thread {
    margin-top: 7em;
}