<div class="footer">
	<div class="contact">
		<p>
			Markus Heurung<br />
			Lessingstr. 6<br />
			97080 Ansbach<br />
			<a href="mailto:kontakt@markusheurung.de">kontakt@markusheurung.de</a><br />
			Tel: +49 821 5081740<br />
      UstId-Nr. DE258714160
		</p>
	</div>
	<div class="contact">
		<p>
			&raquo; <a href="/markus">profilsite</a><br />
			&raquo; <a href="http://github.com/muhh">github</a><br />
			&raquo; <a href="http://twitter.com/muhh">twitter</a>
		</p>
	</div>
	<div class="contact">
	  <p>
			Drupalguy at <a href="http://freistil.it">freistil IT</a><br />
			<a href="mailto:markus@freistil.it">markus@freistil.it</a>
		</p>
	</div>
	<div class="follow">
		<a class="FlattrButton" style="display:none;" href="http://byzero.de/"></a>
				<noscript><a href="http://flattr.com/thing/408472/byzero-de" target="_blank"><img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>
		<a href="/rss.xml"><img src="/images/rss.png" alt="Subscribe to RSS Feed" /></a>
	</div>
</div>
