<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css" type="text/css" media="screen" charset="utf-8">
    <link rel="alternate" type="application/rss+xml" href="{{ site.baseurl }}/rss.xml" title="RSS Feed" />
    <link rel="alternate" type="application/atom+xml" href="{{ site.baseurl }}/atom.xml" title="Atom Feed" />
    <title>byzero.de - {{ page.title }}</title>
    <script type="text/javascript" src="/js/jquery.js"></script> 
  </head>
  <body>
    <a href="http://github.com/muhh"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
    <section class="site">
      <header>
        <h1><a href="{{ site.baseurl }}/">{{ site.meta.site_title }}</a></h1><br />
        <h2>{{ site.meta.site_subtitle }}</h2>
        <nav>
        </nav>
      </header>
      
      <section class="content">
        {{ content }}
      </section>
      
      <footer>
        <section class="contact">
          &raquo; <a href="/markus">Markus Heurung</a><br />
          Lessingstr. 6<br />
          97080 Ansbach<br />
        </section>
        <section class="contact">
          <a href="mailto:kontakt@markusheurung.de">kontakt@markusheurung.de</a><br />
          Tel: +49-981-20862474<br />
          UstId-Nr. DE258714160
        </section>
        <section class="contact">
          Drupalguy at <a href="http://freistil.it">freistil IT</a><br />
          <a href="mailto:markus@freistil.it">markus@freistil.it</a>
        </section>
        <section class="follow">
          <a href="/rss.xml" class="symbol" title="Subscribe to RSS Feed" />B</a>
        </section>
      </footer>
    </section>
    
    <section id="javascript">
      <script type="text/javascript">
        /* <![CDATA[ */
        (function() {
          var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
          s.type = 'text/javascript';
          s.async = true;
          s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
          t.parentNode.insertBefore(s, t);
        })();
        /* ]]> */
      </script>
    </section>
  </body>
</html>