---
layout: base
---
<article class="link">
  <h2 class="title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
  <time title="{{ page.date | date_to_xmlschema }}" pubdate="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}.</time>
  {{ content }}
  <ul class="tags">
    {% for tag in page.tags %}
    <li><a href="{{ site.baseurl }}/tag/{{tag | replace:' ', '-' | downcase }}">{{ tag }}</a>{% if forloop.last == false %}, {%endif %}</li>
    {% endfor %}
  </ul>
</article>

<nav class="page-navigation">
  <ul>
    {% if page.previous.url %}
    <li class="left">
      <a href="{{ site.baseurl }}{{page.previous.url}}" accesskey="1" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
    </li>
    {% endif %}
    {% if page.next.url %}
    <li class="right">
      <a href="{{ site.baseurl }}{{page.next.url}}" accesskey="2" title="next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
    </li>
    {% endif %}
  </ul>
</nav>

{% if false %}
<div id="related">
<h3>Related Posts</h3>
<ul class="posts">
{% for post in site.related_posts limit:3 %}
<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
