---
layout: base
---

        <div class="post">
        
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <p class="meta">posted on {{ page.date | date_to_long_string }}.</p>
            {{ content }}
			
			<div class="flattr">
				<a class="FlattrButton" style="display:none;"
				    title="{{ page.title }}"
				    lang="de_DE"
				    rev="flattr;uid:muhh;category:rest;button:compact;"
				    href="{{ site.url }}{{ page.url }}">
					{{ page.title }} ( {{ site.url }}{{ page.url }} )
				</a>
			</div>
			
			<div id="related">
				<h2>Related Posts</h2>
				<ul class="posts">
					{% for post in site.related_posts limit:3 %}
					<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			
			<div id="comments">
				<h2>Comments</h2>
				<!-- START: Livefyre Embed -->
				<script type='text/javascript' src='http://www.livefyre.com/wjs/v1.0/javascripts/livefyre_init.js'></script>
				<script type='text/javascript'>
				    var fyre = LF({
				        site_id: 290840,
				        version: '1.0'
				    });
				</script>
				<!-- END: Livefyre Embed -->
			</div>
        </div>